.stepNavLinks {
    padding:0;
    display:"flex";
}

.stepNavContent {
    font-size:"0.9rem";
    display: flex;
    align-items: center;
}

.stepNavItem {
    padding: 0;
}

.stepNavContainer {
    padding: 0;
}

.stepParent {
    a {
        padding: 0;
        
    }
}